<div class="monster-card">
  Name:{{input value=model.name update=(action (mut model.name))}}
  <br>
  Level:{{input value=model.level update=(action (mut model.level))}}
  <br>
  <img src={{model.imageurl}}>
  <br>
  Image Source:{{input value=model.imageurl update=(action (mut model.imageurl))}}
  <br>
  Price (in dollars):{{input value=model.price update=(action (mut model.price))}}
</div>
<button {{action 'save'}}>Save</button>