
<div class="monster-card">
  <span class="name">{{model.name}}</span>
  <span class="pull-right level">Level: {{model.level}}</span>


  <img src={{model.imageurl}} class="monster-image" />
  <br>
  ${{model.price}}
</div>
<button {{action 'destroyCard'}}>Destroy Monster</button>
{{#link-to 'monsters.monster.edit' model tagName="button"}}Edit Monster{{/link-to}}