<h1>Monsters</h1>

<div class="row">
  <div class="col-sm-4 col-xs-6">
    {{#link-to 'monsters.new' tagName='button'}}New Monster{{/link-to}}
    <ul class="monsters-index-list">
      {{#each model as |monster|}}
        {{#link-to 'monsters.monster.show' monster tagName='li' class="monster list-unstyled"}}
          <span class="monster-image">
            <img src={{monster.imageurl}} />
          </span>
          <span class="monster-info">
            lvl {{monster.level}} {{monster.name}}
          </span>
        {{/link-to}}
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-8 col-xs-6">
       {{outlet}}
  </div>
</div>

